<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
          <span class="login100-form-title">
            Account Login
          </span>
        <br>
        <br>
        <br>
          <div class="wrap-input100 validate-input" [ngClass]="{'alert-validate': loginForm.value.email.length <= 3}">
              <input class="input100" type="text" (input)="nameInput($event)" formControlName="email" placeholder="First Name">
              <span class="focus-input100"></span>
              <mat-icon *ngIf="icon_show" class="input-icon">verified_user</mat-icon>  
          </div>
          <div *ngIf="!email_validation.value" class="alert-validate">Valid First Name required</div>

          <div class="wrap-input100 validate-input" [ngClass]="{'alert-validate': loginForm.value.password.length <= 3}">
            <input class="input100" type="password" formControlName="password" placeholder="Password">
            <span class="focus-input100"></span>
          </div>

          <div *ngIf="password_validation.value !== true" class="alert-validate">Valid Password required</div>
          <div *ngIf="wrong_password.value !== true" class="alert-validate">Password Incorrect, please double-check</div>
          <div *ngIf="user_validate.value !== true" class="alert-validate">You are not authorized to use this web application</div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
              Sign in
            </button>
          </div>
          <!-- <div class="text-center p-t-45 p-b-4">
            <span class="txt1">
              Forgot your password?
            </span>
          </div>
          <div class="text-center">
            <span class="txt1">
              Don't have an account?
            </span>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</body>
</html>
