<!DOCTYPE html>
<html lang="en">
<head>
  <title>editpassword</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="editpassword.component.css">
</head>
<body>
  <div class="limiter">
    <div class="container-editpassword100">
      <div class="wrap-editpassword100">
        <form [formGroup]="editpasswordForm" (ngSubmit)="onSubmit()" class="editpassword100-form validate-form">
          <span class="editpassword100-form-title">
            Edit Account Password
          </span>
        <br>
        <br>
        <br>
          <div class="wrap-input100 validate-input" [ngClass]="{'alert-validate': editpasswordForm.value.email.length <= 3}">
              <input class="input100" type="text" formControlName="email" placeholder="Email">
              <span class="focus-input100"></span> 
          </div>
          <!-- <div *ngIf="!email_validation.value" class="alert-validate">Valid Email required</div> -->

          <div class="wrap-input100 validate-input" [ngClass]="{'alert-validate': editpasswordForm.value.password.length <= 3}">
            <input class="input100" type="password" formControlName="password" placeholder="Please Enter New Password">
            <span class="focus-input100"></span>
          </div>

          <div *ngIf="changeSuccessful" class="alert-validate">Your password change was successful! You may now log in with new password</div>
          <a routerLink="/">Log In</a>
          <div class="container-editpassword100-form-btn">
            <button class="editpassword100-form-btn" type="submit">
              Confirm Change
            </button>
          </div>
          <!-- <div class="text-center p-t-45 p-b-4">
            <span class="txt1">
              Forgot your password?
            </span>
          </div>
          <div class="text-center">
            <span class="txt1">
              Don't have an account?
            </span>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</body>
</html>

