/* styles.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .response-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
  }
  
  .response-text {
    max-height: 500px;
    overflow-y: auto; /* Enable scrolling when content overflows */
    font-size: 3rem;
    padding: 10px 0;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
  }
  .typing-text {
    padding-block: 20px; /* Adjust padding to increase vertical spacing */
    line-height: 1.5; /* Adjust line height for better readability */
  }

  @keyframes typing {
    from {
      width: 0; /* Start with zero width, simulating typing */
    }
    to {
      width: 100%; /* Full width for the complete text */
    }
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-field {
    width: 400px;
    margin-right: 10px;
  }
  