<div class="container">
    <mat-card class="response-card">
      <div class="response-text" #responseCardContainer>
        <span class="typing-text" [@fadeInOut]>{{ response }}</span>
      </div>
    </mat-card>
    <div style="margin-bottom:30px" class="input-container">
      <button mat-raised-button style="padding: 10px; height:40px">
        <mat-icon style="padding:10px; margin-left:8px">mic</mat-icon>
      </button>
      <div class="input-field">
        <input class="input-text" type="text" (input)="chatInput($event)" placeholder="Enter text to chat with AI">
      </div>
      <button mat-raised-button style = "padding: 20px" (click)="submit()">Submit</button>
    </div>
  </div>
  