/* styles.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .response-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
  }
  
  .response-text {
    max-height: 500px;
    overflow-y: auto; /* Enable scrolling when content overflows */
    font-size: 3rem;
    padding: 10px 0;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
  }
  .typing-text {
    padding-block: 20px; /* Adjust padding to increase vertical spacing */
    line-height: 1.5; /* Adjust line height for better readability */
  }

  @keyframes typing {
    from {
      width: 0; /* Start with zero width, simulating typing */
    }
    to {
      width: 100%; /* Full width for the complete text */
    }
  }
  
  .input-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  .input-text:empty:before {
    content:attr(data-placeholder);
    color:#ccc;
  }

  .input-text {
    margin-left:40px;
    width: 900px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border: 2px solid #ffffff; /* Add a blue border */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: border-color 0.3s; /* Add a smooth transition effect for the border color */
  
    /* Add more styles for the background, text color, and other properties as needed */
  }
  
  /* Style the input when it's focused (selected) */
  .input-text:focus {
    border-color: #2196F3; /* Change the border color to a darker blue when focused */
    outline: none; /* Remove the default focus outline (not recommended for accessibility) */
  }
  
  
  .input-field {
    width: 1000px;
    margin-right: 10px;
  }
  
  .hidden {
    visibility: hidden;
    position: absolute;
  }
  
  .left-bottom {
    margin: 0; /* Remove default margin */
    align-self: flex-start; /* Align to the left within the card */
    margin-top:100px;
    border:none;
    outline:none;
    background:none;
  } 

