<!-- <div class="hamburger-menu" [ngClass]="{'active': isMenuOpen}" (clickOutside)="closeMenu($event)">
  <div class="menu-icon" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
    <nav class="menu-items">
      <a routerLink="/">Home</a>
      <p>Other stuff</p>
      <p>Much More</p>
      <p>Stuff</p>
    </nav>

</div>
<div class="col-5">
  <div class="screen" [ngClass]="{'active': isMenuOpen}">
    <router-outlet></router-outlet>
  </div>
</div>

 -->
 <div *ngIf="isLoggedIn" class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <a routerLink="/">
        <span class="app-title">AI Personal Assistant</span>
      </a>
    </div>
  </header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
  #sidenav 
  autoFocus="false" 
  mode="over" 
  [(opened)]="isMenuOpen" 
  class="sidenav" 
  (click)="onSidenavClick()"
  >
    <a mat-button style="padding-block: 30px" routerLink="/main/+[encodedURL]">Virtual Assistant</a>
    <a mat-button style="padding-block: 30px" routerLink="/about">About</a>
    <a mat-button style="padding-block: 30px" routerLink="/profile">My Profile</a>
    <a mat-button style="padding-block: 30px" routerLink="/">Language Button</a>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
<router-outlet *ngIf="!isLoggedIn"></router-outlet>
<!-- <h1>{{ isLoggedIn }}</h1> -->
